MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net
MONGO_DB_NAME=aqi_predictor
DAGSHUB_MLFLOW_URI=https://dagshub.com/<owner>/<repo>.mlflow
DAGSHUB_USERNAME=your_dagshub_username
DAGSHUB_TOKEN=your_dagshub_token
DAGSHUB_EXPERIMENT=aqi_predictor
DAGSHUB_MODEL_STAGE=Production
DAGSHUB_TIMEOUT_SECONDS=30
